body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.main-text,
.button-container {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.program-container {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
