/* Book of abstracts */
.abstract {
    /* background-color: #FDECFD; */
    font-size: medium;
}

.abstract-title {
    background-color: #FDECFD;
    font-size: larger;
}

.abstract-line {
    border-top: 2px solid #003321;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.abstract-table {
    list-style-type: decimal-leading-zero;
    /* padding: 25px; */
    table-layout: fixed;
}

.abstract-table a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    transition-duration: 0.3s;
}

.abstract-table tr:nth-child(even) {
    background-color: #FDECFD;
}

.abstract-table-number {
    text-align: left;
    font-weight: bold;
    font-size: large;
    width: 3em;
    height: 4em;
}

.abstract-table-name {
    text-align: left;
    font-weight: normal;
    font-size: large;
    height: 4em;
    width: 13em;
}

.abstract-table-title {
    text-align: left;
    font-weight: normal;
    font-size: large;
    height: 4em;
}

@media (max-width: 700px) {

    .abstract-table-number,
    .abstract-table-name,
    .abstract-table-title {
        height: 6em;
    }

    .abstract-table-name {
        width: 5em;
        padding-right: 10px;
    }
}