/* Grid of logos */
.logo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 30px;
    padding: 20px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .logo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 30px;
        padding: 20px;
        width: 100%;
    }
}

.logo {
    display: flex;
    width: 100%;
    margin: auto;
}

.logo a {
    display: flex;
    margin: auto;
}

.logo img {
    text-align: center;
    margin: auto;
    width: 100%;
}

.logo-grid-sponsors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding: 20px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .logo-grid-sponsors {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 50px;
        padding: 20px;
        width: 100%;
    }
}

.logo-sponsors {
    display: flex;
    height: 100%;
    margin: auto;
}

.logo-sponsors a {
    display: flex;
    width: 100%;
}

.logo-sponsors img {
    width: 100%;
}