body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.protected {
    margin-top: 40px;
    text-align: center;
}

input[type="password"] {
    margin-right: 10px;
}

.submit-button {
    padding: 5px 10px;
    background-color: #72124E;
    color: #F4F4F6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1em;
}
